
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
p{
	color: #999;
}


img{
	max-width:100%;
	padding-top: 10px;

}
.heading{
	color: #800080;
	text-shadow: 2px 1px red;
}

}
div.container_12{
	background-color: white;}

#footer-main{
	color: black;
	font-size: 14px;
	padding-top: 40px;
}

#grids{

}
#herooo{
	width: 100%;
}
#gridss{
	margin-top: 0;
}
div.blockhero{
	align-items: center;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
#hero{
	margin-top:0px;
	background: url('../images/carousel1.jpg');
	height: 500px;
	text-align: center;
	font-size: 30px;
}
#footer-links{
	background-color: #222;
}