div.services
{	
	border:10px;
	float: right;
	color:#fff;
	margin-right: 20px;

}
nav.grid_4 li{
	list-style: inline;
	display: inline;
	padding-left: 20px;
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	width:100%;
}
img{
	width:100%;
}
h1{
	float:left;
	margin-left: 10px;
	padding-top: 0;
}
.container_12{
	background-color: Red;
}
.primary{
	float: right;
	list-style: none;
	background-color: blue;
}
